<div class="weather-details">
  <div class="detail-item humidity-card">
    <h2>Humedad</h2>
    <div class="humidity-sky" id="humiditySky"></div>
    <div class="humidity-info">
      <div class="value" id="humValue"></div>
      <div class="hum-status" id="humStatus">---</div>
    </div>
  </div>
  <div class="detail-item wind-card">
    <div class="wind-background" id="windBackground"></div>
    <h2>Viento</h2>
    <div class="wind-info">
      <div class="value" id="windSpeed"></div>
      <div class="wind-status" id="windStatus"></div>
    </div>
  </div>
  <div class="detail-item visibility-card">
    <h2 class="visibility-title">Visibilidad</h2>
    <div id="sky" class="sky"></div>
    <div class="visibility-info">
      <div class="vis-value"><span id="visValue">0</span> km</div>
      <div class="vis-status" id="visStatus">---</div>
    </div>
  </div>
  <div class="detail-item temp-card">
    <div class="thermo-container">
      <div class="thermometer">
        <div class="thermo-fill" id="thermoFill"></div>
        <div class="thermo-bulb" id="thermoBulb"></div>
      </div>

      <div class="temp-info">
        <h2>Sensación Térmica</h2>
        <div class="value" id="tempValue"></div>
        <div class="temp-status" id="tempStatus"></div>
      </div>
    </div>
  </div>
  <div class="detail-item precipitation-card">
    <h2>Precipitación</h2>
    <div class="rain-glass" id="rainGlass">
      <div class="rain-water" id="rainWater"></div>
      <div class="raindrops" id="raindrops"></div>
    </div>
    <div class="precip-info">
      <div class="value" id="precipValue"></div>
      <div class="precip-status" id="precipStatus">---</div>
    </div>
  </div>
  <div class="detail-item uv-card">
    <h2 class="uv-title">Radiación UV</h2>
    <div id="uvSky" class="uv-sky"></div>
    <div class="uv-info">
      <div class="value" id="uvValue">0</div>
      <div class="uv-status" id="uvStatus">---</div>
    </div>
  </div>
</div>
